<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>问题广场</title>
		<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/api.css"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/bi_style.css"/>
	</head>
	<body>
		<div id="wrap" class="flex-wrap flex-vertical">
			<header class="baike2Top" id="aui-header" style="position:fixed;top:0;background-color:#fff;z-index: 999;">
				<!--top-->
				<div class="tieba1Top">
					<form action="#" method="">
						<input type="text" value="" placeholder="资讯"/>
					</form>
				</div>
			</header>
				<!--content-->
			<div id="main" class="flex-con" style="margin-top: 70px;">
				<div class="nav">
				    <div class="tabW">
					  	<dl class="wentiguangchang"><dt><img src="__STATIC__/mobile/image/wenda_03.jpg"/></dt><dd>问题广场</dd></dl>
					  	<dl><dt><img src="__STATIC__/mobile/image/wenda_05.jpg"/></dt><dd>我的提问</dd></dl>
				  		<dl><dt><img src="__STATIC__/mobile/image/wenda_07.jpg"/></dt><dd>我的回答</dd></dl>
					</div>
					<div class="content">
						<ul>
							<li>
								<div class="wendaCon1">
									<section><span class="wendaConSpan2"><span class="wendaConSpan1">悬赏￥2.00</span>怎么知道自己挖到比特币？这样算是我挖到了两个比特币吗？</span></section>
									<div class="wendaConDiv1">
										<span class="wendaConSpanle">
											<img src="__STATIC__/mobile/image/user.png"/>
											<span class="wendaConSpandis2"> 王牌出击 | </span>
											<span>2018.06.12</span>
											<span id="wendaConSpandisplay"> &nbsp;13:09</span>
										</span>
										<span class="wendaConSpanri">回答 1458 &nbsp;<a href="#">去回答</a></span>
									</div>
								</div>
								<div class="wendaCon1">
									<section><span class="wendaConSpan2"><span class="wendaConSpan1">悬赏￥2.00</span>怎么知道自己挖到比特币？这样算是我挖到了两个比特币吗？</span></section>
									<div class="wendaConDiv1">
										<span class="wendaConSpanle">
											<img src="__STATIC__/mobile/image/user.png"/>
											<span class="wendaConSpandis2"> 王牌出击 | </span>
											<span>2018.06.12</span>
											<span id="wendaConSpandisplay"> &nbsp;13:09</span>
										</span>
										<span class="wendaConSpanri">回答 1458 &nbsp;<a href="#">去回答</a></span>
									</div>
								</div>
								<div class="wendaCon1">
									<section><span class="wendaConSpan2">怎么知道自己挖到比特币？这样算是我挖到了两个比特币吗？</span></section>
									<div class="wendaConDiv1">
										<span class="wendaConSpanle">
											<img src="__STATIC__/mobile/image/user.png"/>
											<span class="wendaConSpandis2"> 王牌出击 | </span>
										  <span>2018.06.12</span>
											<span id="wendaConSpandisplay"> &nbsp;13:09</span>
										</span>
										<span class="wendaConSpanri">回答 1458 &nbsp;<a href="#">去回答</a></span>
									</div>
								</div>
								<div class="wendaCon1">
									<section><span class="wendaConSpan2">怎么知道自己挖到比特币？这样算是我挖到了两个比特币吗？</span></section>
									<div class="wendaConDiv1">
										<span class="wendaConSpanle">
											<img src="__STATIC__/mobile/image/user.png"/>
											<span class="wendaConSpandis2"> 王牌出击 | </span>
									  	<span>2018.06.12</span>
											<span id="wendaConSpandisplay"> &nbsp;13:09</span>
										</span>
										<span class="wendaConSpanri">回答 1458 &nbsp;<a href="#">去回答</a></span>
									</div>
								</div>
								<div class="wendaCon1">
									<section><span class="wendaConSpan2">怎么知道自己挖到比特币？这样算是我挖到了两个比特币吗？</span></section>
									<div class="wendaConDiv1">
										<span class="wendaConSpanle">
											<img src="__STATIC__/mobile/image/user.png"/>
											<span class="wendaConSpandis2"> 王牌出击 | </span>
											<span>2018.06.12</span>
											<span id="wendaConSpandisplay"> &nbsp;13:09</span>
										</span>
										<span class="wendaConSpanri">回答 1458 &nbsp;<a href="#">去回答</a></span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			{include file="common/footer"}
		</div>
	</body>
</html>
