<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>词条列表</title>

    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--Basic Styles-->
    <link href="__STATIC__/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />

    <!--Beyond styles-->
    <link id="beyond-link" href="__STATIC__/admin/css/beyond.min.css" rel="stylesheet" type="text/css" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Basic Scripts-->
    <script src="__STATIC__/admin/js/jquery-2.0.3.min.js"></script>
    <script src="__STATIC__/admin/js/bootstrap.min.js"></script>
    
    <!-- 左侧导航栏 -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/style.css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/main.js"></script>
</head>
<body>
    <!-- 缓冲 -->
    {include file="common/loading" /}
    
    <!-- 头部菜单栏 -->
    {include file="common/top" /}

    <!-- 左侧菜单栏 -->
    {include file="common/sidebar" /}

    <!-- 主体 -->
    <p style="margin: 1% 14%;">当前位置：内容 >内容管理 >轮播图</a>
    </p>
    <div class="content">
	    <input type="file" id="myfile" style="display: none;" name="imageFile" onchange="uploadImg();" />
        <button type="button" class="btn btn-info" onclick="$('#myfile').click()" style="margin: 1%;">图片上传</button>
	    <table class="table table-striped">
	    	<tr>
	    		<td>轮播图预览</td>
	    		<td>添加时间</td>
	    		<td>顺序(数字越小，越靠前)</td>
	    		<td>操作</td>
	    	</tr>
	    	{volist name="broad_cast" id="vo"}
	    	<tr>
	    		<td style="width: 50%;"><img src="/demo/public/broadcast/{$vo.img_url}" style="width: 80%;"></td>
	    		<td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
	    		<td>
		    		<input type="text" value="{$vo.order}" class="order">
		    		<a href="javascript:void(0)" onclick="updOrder('{$vo.id}',$(this).prev().val());">保存</a>
	    		</td>
	    		<td><a href="javascript:void(0)" onclick="delImg('{$vo.id}');">删除</a></td>
	    	</tr>
	    	{/volist}
	    </table>
    </div>

    <script type="text/javascript">
        window.onload=function(){
            $('.loading-container').hide();

        }

        //图片上传
        function uploadImg(){
            // FormData对象，来发送二进制文件。
            var formdata = new FormData();
            //将文件追加到formdata对象中
            formdata.append("myfile",document.getElementById('myfile').files[0]);
            $.ajax({
                url:"{:url('Index/broadCastAjax')}",
                type:"POST",
                data:formdata,
                 /** 
                 * 必须false才会避开jQuery对 formdata 的默认处理 
                 * XMLHttpRequest会对 formdata 进行正确的处理 
                 */ 
                 processData: false, 
                 // 告诉jQuery不要去设置Content-Type请求头 
                 contentType: false, 
                 dataType: "json", 
                 success: function(data){
                 	alert('上传成功，如有需要记得调整轮播图顺序');
                    window.location.reload();
                }, 
                error: function(jqXHR){
                    alert(jqXHR); 
                },
            })
        }

        //图片删除
        function delImg(id){
        	if(confirm('确认删除吗？')){
        		$.ajax({
	                url:"{:url('Index/broadCastDelAjax')}",
	                type:"POST",
	                dataType:"JSON",
	                async:false,
	                data:{
	                    id:id,
	                },
	                success:function(data){
	                    alert(data);
                    	window.location.reload();
	                },
	                error:function(data){
	                    alert('网络繁忙，请稍后再试！');
	                },
	            });
        	}
        }

        //修改轮播图顺序
        function updOrder(id,order){
        	$.ajax({
                url:"{:url('Index/updImgOrderAjax')}",
                type:"POST",
                dataType:"JSON",
                async:false,
                data:{
                    id:id,
                    order:order,
                },
                success:function(data){
                    alert('修改成功');
                	window.location.reload();
                },
                error:function(data){
                    alert('网络繁忙，请稍后再试！');
                },
            });
        }

    </script>

</body>
</html>
