<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>新闻列表</title>

    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--Basic Styles-->
    <link href="__STATIC__/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />

    <!--Beyond styles-->
    <link id="beyond-link" href="__STATIC__/admin/css/beyond.min.css" rel="stylesheet" type="text/css" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Basic Scripts-->
    <script src="__STATIC__/admin/js/jquery-2.0.3.min.js"></script>
    <script src="__STATIC__/admin/js/bootstrap.min.js"></script>
    
    <!-- 左侧导航栏 -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/style.css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/main.js"></script>

    <!-- 时间选择器 -->
	<script src="__STATIC__/admin/js/laydate/laydate.js"></script>
	<style type="text/css">
		.demo-input{padding-left: 10px; height: 38px; min-width: 262px; line-height: 38px; border: 1px solid #e6e6e6;  background-color: #fff;  border-radius: 2px;}
		.demo-footer{padding: 50px 0; color: #999; font-size: 14px;}
		.demo-footer a{padding: 0 5px; color: #01AAED;}
	</style>
	<script type="text/javascript">
		//时间选择器
		laydate.render({
		  elem: '#start_time'
		  ,type: 'datetime'
		});
		laydate.render({
		  elem: '#end_time'
		  ,type: 'datetime'
		});
	</script>

</head>
<body>
    <!-- 缓冲 -->
    {include file="common/loading" /}
    
    <!-- 头部菜单栏 -->
    {include file="common/top" /}

    <!-- 左侧菜单栏 -->
    {include file="common/sidebar" /}

    <!-- 主体 -->
    <p style="margin: 1% 14%;">当前位置：内容 >内容管理 >新闻</p>
    <div class="content">
	    <form class="form-inline">
			<div class="form-group">
			    <label for="sel_title">标题：</label>
			    <input type="email" class="form-control" id="sel_title" value="{$selTitle}">
			</div>
			<div class="form-group">
			    <label for="start_time">开始时间：</label>
				<input type="text" class="demo-input" placeholder="请选择开始时间" id="start_time" value="{$startTime}">
			</div>
			<div class="form-group">
			    <label for="end_time">结束时间：</label>
				<input type="text" class="demo-input" placeholder="请选择结束时间" id="end_time" value="{$endTime}">
			</div>
			<div class="form-group" style="width: 17%;margin-left: 1%;">
				<label for="cont_type">隐藏状态：</label>
				<select class="form-control" id="news_type" style="margin-left: 3%;width: 68%;">
                    <option value="0" {if $newsType == 0}selected="selected"{/if}>请选择</option>
                    <option value="1" {if $newsType == 1}selected="selected"{/if}>显示</option>
                    <option value="2" {if $newsType == 2}selected="selected"{/if}>隐藏</option>
                </select>
			</div>
			<input type="button" class="btn btn-default" onclick="selCont()" value="查询">
		</form>
	    <table class="table table-striped">
	    	<tr style="text-align: center;">
	    		<td style="">id</td>
	    		<td style="text-align: left;">标题</td>
	    		<td>来源</td>
	    		<td>发布者</td>
	    		<td>发布时间</td>
	    		<td>状态</td>
	    		<td>操作</td>
	    	</tr>
	    	{volist name="newsList" id="vo"}
			<tr style="text-align: center;">
	    		<td>{$vo.id}</td>
	    		<td style="text-align: left;"><a href="{$vo.url}" target="_blank">{$vo.title}</a></td>
	    		<td>{$vo['resource']}</td>
	    		<td>{$vo['author']}</td>
	    		<td>{$vo['published_time']}</td>
	    		<td>
		    		{if $vo.is_delete == 1}显示
    				{elseif $vo.is_delete == 2}隐藏
	    			{/if}
    			</td>
	    		<td>
		    		{if $vo.is_delete == 1}
	    			<a href="javascript:void(0)" onclick="delCont({$vo['news_id']},2);">隐藏新闻</a>
    				{elseif $vo.is_delete == 2}
	    			<a href="javascript:void(0)" onclick="delCont({$vo['news_id']},1);">显示新闻</a>
	    			{/if}
	    		</td>
	    	</tr>
			{/volist}
	    </table>
    </div>
    <div style="float: right;margin: 1% 2% auto auto">
	    {$newsList->render()}
    </div>

    <script type="text/javascript">
        window.onload=function(){
            $('.loading-container').hide();

        }

        function selCont(){
        	var selTitle = $('#sel_title').val();
        	var startTime = $('#start_time').val();
        	var endTime = $('#end_time').val();
        	var newsType = $('#news_type').val();

        	if(!(startTime == '') && !(endTime == '')){
        		if(startTime > endTime){
	        		alert('开始时间不得大于结束时间');
		        	return false;
	        	}
        	}
          	window.location.href = "{:url('Index/newsList')}?selTitle="+selTitle+"&startTime="+startTime+"&endTime="+endTime+"&newsType="+newsType;
        }

        function delCont(id,type){
        	if(type == 1){
        		if(!confirm('确认显示吗？')){
        			return false;
        		}
        	}else{
        		if(!confirm('确认隐藏吗？')){
        			return false;
        		}
        	}
        	$.ajax({
                url:"{:url('Index/delNewsAjax')}",
                type:"POST",
                dataType:"JSON",
                async:false,
                data:{
                    id:id,
                    type:type,
                },
                success:function(data){
                    alert(data);
                    window.location.reload();
                },
                error:function(data){
                    alert('网络繁忙，请稍后再试！');
                },
            });
        }

    </script>

</body>
</html>
