<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>贴吧1</title>
		<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/api.css"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/bi_style.css"/>
	</head>
	<body>
		<div id="wrap" class="flex-wrap flex-vertical">
			<!--top-->
			<header class="baike2Top" id="aui-header" style="position:fixed;top:0;background-color:#fff;z-index: 999;">
				<div class="tieba1Top">
					<form action="#" method="">
						<input type="text" value="" placeholder="资讯"/>
					</form>
				</div>
			</header>
			<!--ban-->
			<div id="main" class="flex-con" style="margin-top: 70px;">
				<div class="ban">
					<img src="__STATIC__/mobile/image/ban_02.jpg"/>
				</div>
				<!--内容-->
				<div class="tieba1Con">
					<dl>
						<dt><img src="__STATIC__/mobile/image/user.png"/></dt>
						<dd>股吧访谈之首席投资人：进入国际的A股，新起点量变质一定会变</dd>
					</dl>
					<div class="tieba1ConBot">
						<a href="#" class="tieba1ConBot1">置顶</a>
						<a href="#" class="tieba1ConBot2">王牌123吧</a>
						<a href="#" class="tieba1ConBot3"><span class="tieba1Time">2018.06.12</span></a>
						<a href="#" class="tieba1ConBot3 tieba1ConBot4"><img src="__STATIC__/mobile/image/dianzan.png"/><span>2018</span></a>
						<a href="#" class="tieba1ConBot3 tieba1ConBot4"><img src="__STATIC__/mobile/image/pinglun.png"/><span>1458</span></a>
					</div>
				</div>
				<div class="tieba1Con">
					<dl>
						<dt><img src="__STATIC__/mobile/image/user.png"/></dt>
						<dd>股吧访谈之首席投资人：进入国际的A股，新起点量变质一定会变</dd>
					</dl>
					<div class="tieba1ConBot">
						<a href="#" class="tieba1ConBot1">置顶</a>
						<a href="#" class="tieba1ConBot2">王牌123吧</a>
						<a href="#" class="tieba1ConBot3"><span class="tieba1Time">2018.06.12</span></a>
						<a href="#" class="tieba1ConBot3 tieba1ConBot4"><img src="__STATIC__/mobile/image/dianzan.png"/><span>2018</span></a>
						<a href="#" class="tieba1ConBot3 tieba1ConBot4"><img src="__STATIC__/mobile/image/pinglun.png"/><span>1458</span></a>
					</div>
				</div>
				<div class="tieba1Con">
					<dl>
						<dt><img src="__STATIC__/mobile/image/user.png"/></dt>
						<dd>股吧访谈之首席投资人：进入国际的A股，新起点量变质一定会变</dd>
					</dl>
					<div class="tieba1ConBot">
						<a href="#" class="tieba1ConBot2">王牌123吧</a>
						<a href="#" class="tieba1ConBot3">2018.06.12</a>
						<a href="#" class="tieba1ConBot3 tieba1ConBot4"><img src="__STATIC__/mobile/image/dianzan.png"/><span>2018</span></a>
						<a href="#" class="tieba1ConBot3 tieba1ConBot4"><img src="__STATIC__/mobile/image/pinglun.png"/><span>1458</span></a>
					</div>
				</div>
				<div class="tieba1Con">
					<dl>
						<dt><img src="__STATIC__/mobile/image/user.png"/></dt>
						<dd>股吧访谈之首席投资人：进入国际的A股，新起点量变质一定会变</dd>
					</dl>
					<div class="tieba1ConBot">
						<a href="#" class="tieba1ConBot2">王牌123吧</a>
						<a href="#" class="tieba1ConBot3">2018.06.12</a>
						<a href="#" class="tieba1ConBot3 tieba1ConBot4"><img src="__STATIC__/mobile/image/dianzan.png"/><span>2018</span></a>
						<a href="#" class="tieba1ConBot3 tieba1ConBot4"><img src="__STATIC__/mobile/image/pinglun.png"/><span>1458</span></a>
					</div>
				</div>
				<div class="tieba1Con">
					<dl>
						<dt><img src="__STATIC__/mobile/image/user.png"/></dt>
						<dd>股吧访谈之首席投资人：进入国际的A股，新起点量变质一定会变</dd>
					</dl>
					<div class="tieba1ConBot">
						<a href="#" class="tieba1ConBot2">王牌123吧</a>
						<a href="#" class="tieba1ConBot3">2018.06.12</a>
						<a href="#" class="tieba1ConBot3 tieba1ConBot4"><img src="__STATIC__/mobile/image/dianzan.png"/><span>2018</span></a>
						<a href="#" class="tieba1ConBot3 tieba1ConBot4"><img src="__STATIC__/mobile/image/pinglun.png"/><span>1458</span></a>
					</div>
				</div>
				<div class="tieba1Con">
					<dl>
						<dt><img src="__STATIC__/mobile/image/user.png"/></dt>
						<dd>股吧访谈之首席投资人：进入国际的A股，新起点量变质一定会变</dd>
					</dl>
					<div class="tieba1ConBot">
						<a href="#" class="tieba1ConBot2">王牌123吧</a>
						<a href="#" class="tieba1ConBot3">2018.06.12</a>
						<a href="#" class="tieba1ConBot3 tieba1ConBot4"><img src="__STATIC__/mobile/image/dianzan.png"/><span>2018</span></a>
						<a href="#" class="tieba1ConBot3 tieba1ConBot4"><img src="__STATIC__/mobile/image/pinglun.png"/><span>1458</span></a>
					</div>
				</div>
			</div>
			{include file="common/footer"}
		</div>
		</script>
	</body>
</html>
