<div id="footer" class="border-t">
        <ul class="flex-wrap" >
            <a href="{:url('Index/index')}"><li class="flex-con {if $controller=='Index'}active{/if}" >首页</li></a>
            <a href="{:url('Biba/index')}"><li class="flex-con {if $controller=='Biba'}active{/if}" >币吧</li></a>
            <a href="{:url('Wenda/index')}"><li class="flex-con {if $controller=='Wenda'}active{/if}" >问答</li></a>
            <a href="{:url('My/index')}"><li class="flex-con {if $controller=='My'}active{/if}" >我的</li></a>
        </ul>
    </div>