<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>百科列表</title>
<link rel="stylesheet" href="__CSS__/Basics.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/baike.css" />
<script type="text/javascript" src="__JS__/global.js"></script>
<script type="text/javascript" src="__JS__/common.js"></script>
</head>
<body>
<div class="head">
    <div class="top">
        <div class="main">
            <a id="setting" href="javascript:;" class="fr" style="font-weight: bold;" onclick="common.settingUp(this);">设置</a>
            <div class="top-menu" style="display:none;">
                <a href="#" target="_blank"> 搜索设置 </a>
                <a href="#" target="_blank"> 高级搜索 </a>
                <a href="#" target="_blank"> 关闭预测 </a>
                <a href="#" target="_blank"> 搜索历史 </a>
            </div>
            <a id="login" href="javascript:;" class="fr" style="font-weight: bold;"  onclick="common.poplogin();;">登录</a>
            <div class="po">
                <a href="index.html" target="_blank">首页</a>
                <a href="#" target="_blank">百科</a>
                <a href="#" target="_blank">资讯</a>
                <a href="#" target="_blank">股吧</a>
                <a href="interlocution.html" target="_blank">问答</a>
                <a href="#" target="_blank">吐槽 </a>
                <a href="#" target="_blank">教程</a>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="search-box">
            <a href="index.html" class="logo fl"><img src="__IMG__/logo.png" alt=""/></a>
            <div class="search">
                <input type="button" value="立即搜索" class="btn" />
                <div class="po"><input type="search" class="txt"/></div>
            </div>
            <input type="button" value="全站搜索" class="btn" />
        </div>
    </div>
    <div class="nav-baner">
        <div class="main">
            <a href="userCenter.html" class="fr" title="个人中心">个人中心</a>
            <ul class="po">
                <li>
                    <a href="javascript:;" title="">首页</a>
                </li>
                <li>
                    <a href="javascript:;" title="">百科</a>
                </li>
                <li>
                    <a href="javascript:;" title="">资讯</a>
                </li>
                <li>
                    <a href="javascript:;" title="">股吧</a>
                </li>
                <li class="active">
                    <a href="javascript:;" title="">问答</a>
                </li>
                <li>
                    <a href="javascript:;" title="">股吐槽</a>
                </li>
                <li>
                    <a href="javascript:;" title="">教程</a>
                </li>
            </ul>
        </div>
        
    </div>
</div>
<div class="content_box">
	<div class="content clearfloat">
		<div class="container clearfloat">
			<div class="left-content">
				<div class="catalog-box ">
					<h1 class="lemmaWgt-lemmaTitle-title">浙江国技互联信息技术有限公司</h1>
					<div class="para" label-module="para">浙江国技互联信息技术有限公司（以下简称”国技互联“），是一家以技术创新推动互联网与传统制造业、现代服务业深度融合的，促进实体经济发展的互联网公司。
					</div>
					<div class="lemma-catalog clearfloat">
						<h2 class="block-title">目录</h2>
						<div class="catalog-list column-3">
							<ol>
								<li class="level1">
									<span class="index">1</span>
									<span class="text"><a href="#1">操作系统</a></span>
								</li>
								<li class="level2">
									<span class="index">▪</span>
									<span class="text"><a href="#2">可裁剪性</a></span>
								</li>
								<li class="level2">
									<span class="index">▪</span>
									<span class="text"><a href="#3">强实时性</a></span>
								</li>
								<li class="level1">
									<span class="index">2</span>
									<span class="text"><a href="#3_1">操作系统 </a></span>
								</li>
								<li class="level1">
									<span class="index">3</span>
									<span class="text"><a href="#3_2">文件系统</a></span>
								</li>
								<li class="level1">
									<span class="index">4</span>
									<span class="text"><a href="#3_3">过电压破坏</a></span>
								</li>
							</ol>
							<ol>
								<li class="level1">
									<span class="index">5</span>
									<span class="text"><a href="#3_4">开发流程</a></span>
								</li>
								<li class="level2">
									<span class="index">▪</span>
									<span class="text"><a href="#4">新建项目</a></span>
								</li>
								<li class="level1">
									<span class="index">6</span>
									<span class="text"><a href="#4_1">灵魂回响</a></span>
								</li>
								<li class="level1">
									<span class="index">7</span>
									<span class="text"><a href="#4_2">细胞</a></span>
								</li>
								<li class="level1">
									<span class="index">8</span>
									<span class="text"><a href="#4_3">护肤品</a></span>
								</li>
								<li class="level1">
									<span class="index">9</span>
									<span class="text"><a href="#4_4">EOS含义</a></span>
								</li>
							</ol>
							<ol>
								<li class="level2">
									<span class="index">▪</span>
									<span class="text"><a href="#4_5">结构和配置</a></span>
								</li>
								<li class="level2">
									<span class="index">▪</span>
									<span class="text"><a href="#4_6">操作流程</a></span>
								</li>
								<li class="level2">
									<span class="index">▪</span>
									<span class="text"><a href="#4_7">ESO</a></span>
								</li>
								<li class="level1">
									<span class="index">10</span>
									<span class="text"><a href="#4_7">EOS相机 </a></span>
								</li>
								<li class="level1">
									<span class="index">11</span>
									<span class="text"><a href="#4_7">瞄准系统 </a></span>
								</li>
								<li class="level1">
									<span class="index">12</span>
									<span class="text"><a href="#4_7">制造系统  </a></span>
								</li>
							</ol>
							<ol>
								<li class="level1">
									<span class="index">13</span>
									<span class="text"><a href="#4_5">大众汽车</a></span>
								</li>
								<li class="level2">
									<span class="index">▪</span>
									<span class="text"><a href="#4_6">概述</a></span>
								</li>
								<li class="level2">
									<span class="index">▪</span>
									<span class="text"><a href="#4_7">参数</a></span>
								</li>
								<li class="level1">
									<span class="index">10</span>
									<span class="text"><a href="#4_7">订货系统 </a></span>
								</li>
								<li class="level1">
									<span class="index">11</span>
									<span class="text"><a href="#4_7">接口转换 </a></span>
								</li>
								<li class="level1">
									<span class="index">12</span>
									<span class="text"><a href="#4_7">地球观测系统  </a></span>
								</li>
							</ol>

						</div>
					</div>
					<h2 class="headline-1 custom-title ">
                            <span class="headline-content">操作系统</span>
                    </h2>
					<div class="para" label-module="para">随着Internet技术的发展、信息家电的普及应用及EOS的微型化和专业化，EOS开始从单一的弱功能向高专业化的强功能方向发展。嵌入式操作系统在系统实时高效性、硬件的相关依赖性、软件固化以及应用的专用性等方面具有较为突出的特点。EOS是相对于一般操作系统而言的，它除具有了一般操作系统最基本的功能，如任务调度、同步机制、中断处理、文件处理等外,还有以下特性：1）可裁剪性。 2）强实时性3）统一的接口。4）操作方便、简单、提供友好的图形GUI和图形界面，追求易学易用。5）强稳定性，弱交互性。6）固化代码。7）更好的硬件适应性，也就是良好的移植性。
						<br />OS-Electrical over stress 过度电性应力<br /> 当外界电流或电压超过器件的最大规范条件时，器件性能会减弱甚至损坏。
						<br /> EOS通常产生于：
						<br /> 1.电源(AC/DC) 干扰、电源杂讯和过电压。<br /> 2.由于测试程序切换（热切换）导致的瞬变电流/峰值/低频干扰。其过程持续时间可能是几微秒到几秒（也可能是几纳秒），很短的EOS 脉冲导致的损坏与ESD损坏相似。</div>
					<h2 class="headline-1 custom-title ">
                            <span class="headline-content">文件系统</span>
                    </h2>
					<div class="para1" label-module="para1">
						通用操作系统的文件系统通常具有以下功能：
						<br/>提供用户对文件操作的命令。
						<br/>提供用户共享文件的机制。
						<br/>管理文件的存储介质。
						<br/>提供文件的存取控制机制，保障文件及文件系统的安全性。
						<br/>提供文件及文件系统的备份和恢复功能。
						<br/>提供对文件的加密和解密功能。
						<br/>嵌入式文件系统比较简单，主要提供文件存储、检索和更新等功能，一般不提供保护和加密等安全机制。它以系统调用和命令方式提供文件的各种操作，主要有：
						<br/>设置、修改对文件和目录的存取权限。
						<br/>提供建立、修改、改变和删除目录等服务。
					</div>
					<h2 class="headline-1 custom-title ">
                            <span class="headline-content">订货系统</span>
                    </h2>
					<div class="para1" label-module="para1">
						EOS :electronic ordering system
						<br/>是指用户、流通中心、生产企业之间利用通讯网络（VAN或互联网）和终端设备以在线联结（ON-LINE）方式进行订货作业和订货信息交换的系统。
						<br/>与传统的订货方式，如上门订货、邮寄订货、电话、传真订货等相比，它能及时准确地交换订货信息，缩短订货的时间，缩短订货商品的交货期，减少商品订单的出错率，节省人工费；有利于减少企业库存水平，提高企业的库存管理效率，防止商品特别是畅销商品的缺货现象的出现。
					</div>

				</div>
			</div>
			<div class="ringth-content">
				<img src="__IMG__/baike_03.jpg" class="tp" />
				<div class="bk_tree">
					<div class="online"></div>
					<div class="bk_tree_cnt">
						<div class="bk_treemark"></div>
							<div class="bk_treepointer">
								<div class="bk_tree_text">1  可操作系统</div>
								<ul class="bk_treeul">
									<li class="bk_treeli">1.1  可裁剪性</li>
									<li class="bk_treeli">1.2  强实时性</li>
									<li class="bk_treeli">1.3 固化代码</li>									
								</ul>
							</div>
							<div class="bk_treepointer active">
								<div class="bk_tree_text">2  可操作系统</div>
								<ul class="bk_treeul">
									<li class="bk_treeli">1.1  可裁剪性</li>
									<li class="bk_treeli">1.2  强实时性</li>
									<li class="bk_treeli">1.3 固化代码</li>									
								</ul>
							</div>
							<div class="bk_treepointer">
								<div class="bk_tree_text">3  可操作系统</div>
								<ul class="bk_treeul">
									<li class="bk_treeli">1.1  可裁剪性</li>
									<li class="bk_treeli">1.2  强实时性</li>
									<li class="bk_treeli">1.3 固化代码</li>									
								</ul>
							</div>
							<div class="bk_treepointer">
								<div class="bk_tree_text">4  可操作系统</div>
								<ul class="bk_treeul">
									<li class="bk_treeli">1.1  可裁剪性</li>
									<li class="bk_treeli">1.2  强实时性</li>
									<li class="bk_treeli">1.3 固化代码</li>									
								</ul>
							</div>
							<div class="bk_treepointer">
								<div class="bk_tree_text">5  可操作系统</div>
								<ul class="bk_treeul">
									<li class="bk_treeli">1.1  可裁剪性</li>
									<li class="bk_treeli">1.2  强实时性</li>
									<li class="bk_treeli">1.3 固化代码</li>									
								</ul>
							</div>
							<div class="bk_treepointer">
								<div class="bk_tree_text">1  可操作系统</div>
								<ul class="bk_treeul">
									<li class="bk_treeli">1.1  可裁剪性</li>
									<li class="bk_treeli">1.2  强实时性</li>
									<li class="bk_treeli">1.3 固化代码</li>									
								</ul>
							</div>
							<div class="bk_treepointer">
								<div class="bk_tree_text">2  可操作系统</div>
								<ul class="bk_treeul">
									<li class="bk_treeli">1.1  可裁剪性</li>
									<li class="bk_treeli">1.2  强实时性</li>
									<li class="bk_treeli">1.3 固化代码</li>									
								</ul>
							</div>
							<div class="bk_treepointer">
								<div class="bk_tree_text">3  可操作系统</div>
								<ul class="bk_treeul">
									<li class="bk_treeli">1.1  可裁剪性</li>
									<li class="bk_treeli">1.2  强实时性</li>
									<li class="bk_treeli">1.3 固化代码</li>									
								</ul>
							</div>
							<div class="bk_treepointer">
								<div class="bk_tree_text">4  可操作系统</div>
								<ul class="bk_treeul">
									<li class="bk_treeli">1.1  可裁剪性</li>
									<li class="bk_treeli">1.2  强实时性</li>
									<li class="bk_treeli">1.3 固化代码</li>									
								</ul>
							</div>
							<div class="bk_treepointer">
								<div class="bk_tree_text">5  可操作系统</div>
								<ul class="bk_treeul">
									<li class="bk_treeli">1.1  可裁剪性</li>
									<li class="bk_treeli">1.2  强实时性</li>
									<li class="bk_treeli">1.3 固化代码</li>									
								</ul>
							</div>
						
							
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
	</div>
	<footer class="nav-footer">
		<a href=""><span>首页</span></a>
		<a href=""><span>百科</span></a>
		<a href=""><span>资讯</span></a>
		<a href=""><span>股吧</span></a>
		<a href=""><span>问答</span></a>
		<a href=""><span>股吐槽</span></a>
		<a href="" style="border-right: none;"><span>教程</span></a>
		<span class="bq">Copyright© 2018  &nbsp;&nbsp;&nbsp;温州点对点网络科技有限公司 &nbsp;&nbsp;&nbsp;版权所有</span>
	</footer>
	<div class="mask" style="display: none;"></div>
	<div class="landing" style="display: none;">
		<span class="close">x</span>
		<span class="landing-title">用户名密码登陆</span>
		<input type="" name="" placeholder="手机/邮箱/用户名" class="phone" />
		<input type="" name="" placeholder="密码" class="password" />
		<span class="landing-button">登陆</span>
		<div class="landing-count">
			<a href="javascript:;" class="wj"><span>忘记密码？</span></a>
			<a href="javascript:;" class="mf"><span>免费注册！</span></a>
		</div>
		<div class="fast-landing">
			<span class="kj">快捷方式登陆</span>
			<span class="tj">推荐</span>
		</div>
		<div class="fast-landing-xz">
			<span class="qqdl">QQ登陆</span>
			<span class="dxdl">短信登陆</span>
		</div>
	</div>
</body>
<script src="../Basics/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../Basics/js/basics.js" type="text/javascript" charset="utf-8"></script>
<script src="../Basics/js/index.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(".bk_treepointer").on("click",function(){
		$(".bk_treepointer").removeClass("active");
		$(this).addClass("active");
	});
</script>

</html>