<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>个人中心</title>
		<script type="text/javascript" src="__JS__/global.js"></script>
        <script type="text/javascript" src="__JS__/common.js"></script>
        <link rel="stylesheet" href="__CSS__/Basics.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/myguba.css" />
	</head>

	<body>
         <div class="head">
            {include file="common/head"}
        </div>
		<div class="headinfo_wrap-bg">
			<div class="hede-wrap"></div>
			<div class="userinfo-wrap">
				{include file="common/myinfo"}
				<div class="reviews-content clearfix">
					<div class="left-box">
							<div class="left-box">
						<div class="reply">
						<div class="myguba">
							<span class="hot">我的股吧</span>
							<span>怎么发帖</span>
						</div>
							<span class="hot">热门动态</span>
							<div class="reply clearfix">
							<div class="postcontent clearfix">
								<img src="images/grzhuye_tou.jpg"  width="43px" height="43px" class="tc_guimg"/>
								<div class="mation"><span>股吧</span><span>2018-06-08</span>
								<div class="mation-title">我今年在龙华兴华培训学英语，咨询的时候他们会什么都说的很好，可等我交完钱后</div>
								<div class="mation-text">我今年在龙华兴华培训学英语，咨询的时候他们会什么都说的很好，可等我交完钱后</div>
								<img src="images/grzhuye-tu.jpg"/>
								<div class="answer">点对点科技</div>
								</div>
							</div>
							<div class="postcontent clearfix">
								<img src="images/grzhuye_tou.jpg"  width="43px" height="43px" class="tc_guimg"/>
								<div class="mation"><span>股吧</span><span>2018-06-08</span>
								<div class="mation-title">我今年在龙华兴华培训学英语，咨询的时候他们会什么都说的很好，可等我交完钱后</div>
								<div class="mation-text">我今年在龙华兴华培训学英语，咨询的时候他们会什么都说的很好，可等我交完钱后</div>
								<div class="answer">点对点科技</div>
								</div>
							</div>
							<div class="postcontent clearfix">
								<img src="images/grzhuye_tou.jpg"  width="43px" height="43px" class="tc_guimg"/>
								<div class="mation"><span>股吧</span><span>2018-06-08</span>
								<div class="mation-title">我今年在龙华兴华培训学英语，咨询的时候他们会什么都说的很好，可等我交完钱后</div>
								<div class="mation-text">我今年在龙华兴华培训学英语，咨询的时候他们会什么都说的很好，可等我交完钱后</div>
								<div class="answer">点对点科技</div>
								</div>
							</div>
							<div class="postcontent clearfix">
								<img src="images/grzhuye_tou.jpg"  width="43px" height="43px" class="tc_guimg"/>
								<div class="mation"><span>股吧</span><span>2018-06-08</span>
								<div class="mation-title">我今年在龙华兴华培训学英语，咨询的时候他们会什么都说的很好，可等我交完钱后</div>
								<div class="mation-text">我今年在龙华兴华培训学英语，咨询的时候他们会什么都说的很好，可等我交完钱后</div>
								<div class="answer">点对点科技</div>
								</div>
							</div>
						</div>
						</div>
					</div>
					</div>
					<div class="ringth-box">
						<div class="recemtly"><span>最近来访</span><img src="images/touxiang.jpg" width="43px" height="43px"/>
						<img src="images/touxiang.jpg" width="43px" height="43px"/>
						<img src="images/touxiang.jpg" width="43px" height="43px"/>
						</div>
						<div class="follow"><div>关注我的人<span>（8）</span></div>
							<img src="images/touxiang.jpg" width="43px" height="43px"/>
							<img src="images/touxiang.jpg" width="43px" height="43px"/>
							<img src="images/touxiang.jpg" width="43px" height="43px"/>
						    <img src="images/touxiang.jpg" width="43px" height="43px"/>
						    <img src="images/touxiang.jpg" width="43px" height="43px"/>
							<img src="images/touxiang.jpg" width="43px" height="43px"/>
							<img src="images/touxiang.jpg" width="43px" height="43px"/>
						    <img src="images/touxiang.jpg" width="43px" height="43px"/>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		{include file="common/foot"}
	</body>
</html>