<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>股吧</title>
		<script type="text/javascript" src="__JS__/global.js"></script>
        <script type="text/javascript" src="__JS__/common.js"></script>
        <link rel="stylesheet" href="__CSS__/Basics.css" />
       <link rel="stylesheet" type="text/css" href="__CSS__/sign2.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/guba.css" />
	</head>
         <style type="text/css">
         	body,html{position: relative;}
         </style>
	<body>
		{include file='common/head'}
		
		<div class="wrapper">

				<div class="content">
					<div class="head_content">
						<div class="card_banner card_banner_link">
							<img src="__IMG__/bg.jpg" id="forum-card-banner">
						</div>
						<div class="card_top_wrap clearfix card_top_theme ">
							<div class="card_top_right">
								<div id="pagelet_forum/pagelet/sign_mod">
									<div class="sign_mod_bright" id="sign_mod">
										<div id="signstar_wrapper" class="j_sign_box sign_box_bright">
											<a rel="noreferrer" href="#" onclick="return false" data-dw="1" tabindex="3" title="签到" class="j_signbtn sign_btn_bright j_cansign">
												
												<span class="sign_today_date">06月25日</span>
												<span class="sign_month_lack_days">漏签<span class="j_sign_month_lack_days">0</span>天</span>
											</a>
											<div class="signin">
												<div class="signshade"></div>
												<div class="signin_cnt">
													<div id="calendar"></div>
													<div class="signtip_cnt">
														<div class="signtip">
														   <div class="signimg"><img src="__IMG__/rili.png"/></div>
														   <div class="signtext">签到排名：今日本吧第<span>505</span>个签到，
															离前十名还有些距离，大家来得更勤快些吧~</div>
														</div>			
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
							<div class="card_top clearfix">
								<div class="card_head">
									<a rel="noreferrer" href="">
										<img class="card_head_img" id="forum-card-head" src="__IMG__/logo.jpg">
									</a>
								</div>
								<div class="card_title">
									<a rel="noreferrer" class=" card_title_fname" title="" href="">
										温州大学吧
									</a>
									<div class="focus_btn_wrap">
										<div id="pagelet_forum/pagelet/focus_btn">

										</div>
									</div>
								</div>
								<p class="card_slogan">温州大学学生服务站</p>
							</div>
						</div>
						<div id="pagelet_frs-header/pagelet/head_content_middle">
							<div class="top_content  ">
								<div class="top_cont_main">

								</div>
								<div class="top_cont_toggle"></div>
							</div>
							<div class="game_frs_in_head">
							</div>
							<div id="pagelet_platform-official/pagelet/official_head_block">
							</div>
							<div id="pagelet_entertainment-liveshow/pagelet/lecai_head"></div>
							<div id="pagelet_entertainment-liveshow/pagelet/video_head"></div>
						</div>
						<div class="content-box clearfix">
							<div class="find-box">
								<div class="find-title">
									<span>发现</span>
								</div>
				

							{volist name="res_ba" id="vo"}
									{$vo.post_id}
								<div class="find-item">
									<div class="find_bk1"><img src="__IMG__/guba_03.jpg" class="find-item-img"/></div>
									<div class="find_bk2">
										<div class="find-item-text">
											<div class="find_title"><a href="{:url('index/guba/gubacontent',['post_id'=>$vo['post_id']])} ">{$vo.post_title}</a></div>
											<p><span>作者：{$vo.post_admin}</span>&nbsp;<span>评论：141 阅读：{$vo.click_count}</span>&nbsp;&nbsp;<span>发布时间:{$vo.post_create_time}</span></p>
										</div>
										<span class="icon-top">置顶</span>
									</div>
								</div>
					
							{/volist}



<!--
								<div class="find-item">
									<div class="find_bk1"><img src="images/guba_03.jpg" class="find-item-img"/></div>
									<div class="find_bk2">
										<div class="find-item-text">
											<div class="find_title">股吧访谈之首席投资人：进入国际的A股，新起点量变质一定会变</div>
											<p><span>作者：王牌出击   </span>&nbsp;<span>评论：141 阅读：521</span>&nbsp;&nbsp;<span>发布时间：2018-6-12</span></p>										
										</div>
										<span class="icon-top">置顶</span>
									</div>
								</div>
								<div class="find-item">
									<div class="find_bk1"><img src="images/guba_03.jpg" class="find-item-img"/></div>
									<div class="find_bk2">
										<div class="find-item-text">
											<div class="find_title">股吧访谈之首席投资人：进入国际的A股，新起点量变质一定会变</div>
											<p><span>作者：王牌出击   </span>&nbsp;<span>评论：141 阅读：521</span>&nbsp;&nbsp;<span>发布时间：2018-6-12</span></p>										
										</div>
										<span class="icon-top">置顶</span>
									</div>
								</div>
								<div class="find-item">
									<div class="find_bk1"><img src="images/guba_03.jpg" class="find-item-img"/></div>
									<div class="find_bk2">
										<div class="find-item-text">
											<div class="find_title">股吧访谈之首席投资人：进入国际的A股，新起点量变质一定会变</div>
											<p><span>作者：王牌出击   </span>&nbsp;<span>评论：141 阅读：521</span>&nbsp;&nbsp;<span>发布时间：2018-6-12</span></p>										
										</div>
										<span class="icon-top">置顶</span>
									</div>
								</div>
								<div class="find-item">
									<div class="find_bk1"><img src="images/guba_03.jpg" class="find-item-img"/></div>
									<div class="find_bk2">
										<div class="find-item-text">
											<div class="find_title">股吧访谈之首席投资人：进入国际的A股，新起点量变质一定会变</div>
											<p><span>作者：王牌出击   </span>&nbsp;<span>评论：141 阅读：521</span>&nbsp;&nbsp;<span>发布时间：2018-6-12</span></p>										
										</div>
										<span class="icon-top">置顶</span>
									</div>
								</div>
								<div class="find-item">
									<div class="find_bk1"><img src="images/guba_03.jpg" class="find-item-img"/></div>
									<div class="find_bk2">
										<div class="find-item-text">
											<div class="find_title">股吧访谈之首席投资人：进入国际的A股，新起点量变质一定会变</div>
											<p><span>作者：王牌出击   </span>&nbsp;<span>评论：141 阅读：521</span>&nbsp;&nbsp;<span>发布时间：2018-6-12</span></p>										
										</div>
										<span class="icon-top">置顶</span>
									</div>
								</div>
								<div class="find-item">
									<div class="find_bk1"><img src="images/guba_03.jpg" class="find-item-img"/></div>
									<div class="find_bk2">
										<div class="find-item-text">
											<div class="find_title">股吧访谈之首席投资人：进入国际的A股，新起点量变质一定会变</div>
											<p><span>作者：王牌出击   </span>&nbsp;<span>评论：141 阅读：521</span>&nbsp;&nbsp;<span>发布时间：2018-6-12</span></p>										
										</div>
										<span class="icon-top">置顶</span>
									</div>
								</div>
								<div class="find-item">
									<div class="find_bk1"><img src="images/guba_03.jpg" class="find-item-img"/></div>
									<div class="find_bk2">
										<div class="find-item-text">
											<div class="find_title">股吧访谈之首席投资人：进入国际的A股，新起点量变质一定会变</div>
											<p><span>作者：王牌出击   </span>&nbsp;<span>评论：141 阅读：521</span>&nbsp;&nbsp;<span>发布时间：2018-6-12</span></p>										
										</div>
										<span class="icon-top">置顶</span>
									</div>
								</div>
								<div class="find-item">
									<div class="find_bk1"><img src="images/guba_03.jpg" class="find-item-img"/></div>
									<div class="find_bk2">
										<div class="find-item-text">
											<div class="find_title">股吧访谈之首席投资人：进入国际的A股，新起点量变质一定会变</div>
											<p><span>作者：王牌出击   </span>&nbsp;<span>评论：141 阅读：521</span>&nbsp;&nbsp;<span>发布时间：2018-6-12</span></p>										
										</div>
										<span class="icon-top">置顶</span>
									</div>
								</div>
								<div class="find-item">
									<div class="find_bk1"><img src="images/guba_03.jpg" class="find-item-img"/></div>
									<div class="find_bk2">
										<div class="find-item-text">
											<div class="find_title">股吧访谈之首席投资人：进入国际的A股，新起点量变质一定会变</div>
											<p><span>作者：王牌出击   </span>&nbsp;<span>评论：141 阅读：521</span>&nbsp;&nbsp;<span>发布时间：2018-6-12</span></p>										
										</div>
										<span class="icon-top">置顶</span>
									</div>
								</div>
								<div class="find-item">
									<div class="find_bk1"><img src="images/guba_03.jpg" class="find-item-img"/></div>
									<div class="find_bk2">
										<div class="find-item-text">
											<div class="find_title">股吧访谈之首席投资人：进入国际的A股，新起点量变质一定会变</div>
											<p><span>作者：王牌出击   </span>&nbsp;<span>评论：141 阅读：521</span>&nbsp;&nbsp;<span>发布时间：2018-6-12</span></p>										
										</div>
										<span class="icon-top">置顶</span>
									</div>
								</div>
				
					-->
							</div>
							<div class="aside">
								<span class="aside-title">专栏作者</span>
								<div class="clearfix author-img">
									<img src="images/guba_07.jpg" />
									<img src="images/guba_10.jpg"  />
									<img src="images/guba_07.jpg" />
									<img src="images/guba_10.jpg"  />
									<img src="images/guba_07.jpg" />
									<img src="images/guba_10.jpg"  />
									<img src="images/guba_07.jpg" />
									<img src="images/guba_10.jpg"  />
								</div>
								<span class="aside-title">专栏文章</span>
								<div class="clearfix">
									<img src="images/guba_22.jpg" class="article-img" />
									<div class="article-text">
								    <h6>币圈乱象盖不住 区块链技</h6>									
										<p>从线上到线下，区块链行业隐 约透出一股焦虑味儿。一边是 无数“光环...
									</p>
									</div>
								</div>
								<img src="images/guba_22.jpg" class="article-img" />
									<div class="article-text">
								    <h6>币圈乱象盖不住 区块链技</h6>									
										<p>从线上到线下，区块链行业隐 约透出一股焦虑味儿。一边是 无数“光环...
									</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{include file='common/foot'}
		<!--<div id="SignIn">
			<div style="" id="calendar"></div>
			<div style="text-align:center;position: relative;padding: 15px;    font-size: 14px;">
				<div class="signtip">
				   <div class="signimg"><img src="images/rili.png"/></div>
				   <div class="signtext">签到排名：今日本吧第<span>505</span>个签到，
					离前十名还有些距离，大家来得更勤快些吧~</div>
				</div>			
			</div>
		</div>-->
		
		
	</body>
	 
	<script src="js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../Basics/js/basics.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/layer/layer.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="js/calendar2.js"></script>
	<script type="text/javascript">
		$(function(){
		  //ajax获取日历json数据
		  var signList=[{"signDay":"09"},{"signDay":"11"},{"signDay":"12"},{"signDay":"13"}];
		   calUtil.init(signList);
		   //自定页
			
		   $(".j_signbtn").on("click",function(){
		   	   $(".signin").toggleClass("active");
		   });
		   $(".signshade").on("click",function(){
		   	 $(".signin").removeClass("active");
		   });
		});
	</script>

</html>
