<div class="main">
    <div class="search-box">
        <a href='javascript:;' class="logo fl"><img src="__IMG__/logo.png" alt="" /></a>
        <div class="search">
            <input type="button" value="筛选" class="btn filterAsk" style="cursor: pointer" />
            <div class="po">
                <input type="text" class="txt" name="keywords" value="{$keywords}" />
            </div>
        </div>
        <input type="button" value="发起提问" class="btn beginAsk" style="cursor: pointer" />
    </div>
</div>
<script>
    $(function () {
        $(".beginAsk").click(function () {
            location.href='{:url("Askanswer/ask")}';
        });
        $(".filterAsk").click(function () {
            location.href='{:url("Askanswer/index")}?keywords='+$("input[name='keywords']").val();
        });
        $(".logo").click(function () {
            location.href='{:url("Askanswer/index")}?keywords='+$("input[name='keywords']").val();
        });
    })
</script>