<div class="new_sidebar">
	<ul class="ce">
		<li><a class="xz" href="{:url('Index/index')}">工作台</a></li>
		<li> 
			<a href="#">内容<img class="more1" src="__STATIC__/admin/img/more.png"/></a>
		   	<ul class="er">
				<li class="e_li"> 
					<a href="##">内容管理<img class="more2" src="__STATIC__/admin/img/more.png"/></a>
					<ul class="thr">
						<li><a href="{:url('Index/wordsList')}">词条</a></li>
						<li><a href="{:url('Index/newsList')}">新闻</a></li>
						<li><a href="{:url('Index/broadCastImg')}">首页轮播图</a></li>
						<li><a href="{:url('Match/matchWordsList')}">匹配词条</a></li>
						<div class="clear"></div>
					</ul>
				</li>
				<!-- <li><a  href="##">币吧管理</a></li> -->
				<li class="e_li"> 
					<a href="##">论坛管理<img class="more2" src="__STATIC__/admin/img/more.png"/></a>
					<ul class="thr">
						<li><a href="{:url('Bbs/boardList')}">币吧管理</a></li>
						<li><a href="{:url('Bbs/ask')}">提问管理</a></li>
						<li><a href="{:url('Bbs/answer')}">回答管理</a></li>
						<li><a href="{:url('Spit/index')}">吐槽管理</a></li>
						<li><a href="{:url('Bbs/SensWordsList')}">敏感词管理</a></li>
					</ul>
				</li>
		   </ul>
		</li>
		<div class="clear"></div>
	</ul>
</div>
<script type="text/javascript">

    $('.new_sidebar').css("height",$(window).height());

</script>