<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/bi_style.css"/>
	<script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
	<style type="text/css">
		#main{
			-webkit-overflow-scrolling: touch;
		}
	</style>
</head>
<body>
<div id="wrap" class="flex-wrap flex-vertical">
    <header id="aui-header">
      <div class="tieba1Top" id="header">
  			<div class="swiper-container">
  			    <div class="swiper-wrapper">
  			        <div class="swiper-slide"><img src="__STATIC__/mobile/image/index_02.jpg" class="topimg"/></div>
  			        <div class="swiper-slide"><img src="__STATIC__/mobile/image/index_02.jpg" class="topimg"/></div>
  			        <div class="swiper-slide"><img src="__STATIC__/mobile/image/index_02.jpg" class="topimg"/></div>
  			    </div>
  			</div>
  			<form action="#" method="" id="form">
  				<input type="text" value="" placeholder=""/>
  				<button>币搜索一下</button>
  			</form>
  		</div>
      <div class="navi">
        <div class="tabWi" id="nav">
          <a href="#" class="curri">热闻</a>
          <a href="#" class="renews">百科</a>
          <a href="#" class="renews">资讯</a>
          <a href="#" class="renews">吐槽</a>
          <a href="#" class="renews">教程</a>
        </div>
      </div>
    </header>
  		<!--content-->
    <div id="main" class="flex-con">
		  <div class="contenti">
		  	<ul>
		  		<!--rewen-->
		   		<li style="display: block">
		   			{volist name="news" id="v"}
		   			<a href="{:url('Index/news_detail')}?url={$v.url}" class="a_news" _href="{$v.url}" target="_blank"><div class="indexZixun">
			   				<dl>
			   					<dd>
			   						<article>{$v.title}</article>
			   						<p>{$v.author} &nbsp;{$v.time_num|date="Y-m-d",###}</p>
			   					</dd>
			   					<dt><img src="{$v.thumbnail}"/></dt>
			   				</dl>
		   			</div>
		   			</a>
		   			{/volist}
		   		</li>
		  	</ul>
			</div>
    </div>
    {include file="common/footer"}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
<script>
  $(function() {
    $("#form").addClass('form');
    $(".navi").addClass('nav2');
    var mySwiper = new Swiper ('.swiper-container', {
      direction: 'horizontal',
      autoplay: 3000,
      loop: true,
    });

  })

</script>
</script>
</body>
</html>
