<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>帖子置顶设置</title>

    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--Basic Styles-->
    <link href="__STATIC__/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />

    <!--Beyond styles-->
    <link id="beyond-link" href="__STATIC__/admin/css/beyond.min.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/admin/css/add_news.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Basic Scripts-->
    <script src="__STATIC__/admin/js/jquery-2.0.3.min.js"></script>
    <script src="__STATIC__/admin/js/bootstrap.min.js"></script>
    
    <!-- 左侧导航栏 -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/style.css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/main.js"></script>

</head>
<body>
    <!-- 缓冲 -->
    {include file="common/loading" /}

    <!-- 头部菜单栏 -->
    {include file="common/top" /}

    <!-- 左侧菜单栏 -->
    {include file="common/sidebar" /}

    <!-- 主体 -->
    <p class="address">当前位置：内容 >论坛管理 >
        <a href="{:url('Bbs/boardList')}">币吧列表 </a>>
        帖子列表 >帖子置顶设置
    </p>
    <div class="content">
        <form style="border: 0px;">
            <div style="width: 86%;height: auto;margin: 2% auto auto 7%;">

                <!-- 横栏1 -->
                <div style="height: 7rem;border-bottom: 1px dashed #d4dce6;padding-top: 1.3%;">
                    <div style="width: 5%;float: left;line-height: 32px;text-align: right;">
                        帖子标题
                    </div>
                    <div style="width: 22%;height: auto;float: left;">
                        <input type="text" name="title" class="form-control" id="title" value="{$postInfo['post_title']}" disabled="disabled" style="margin-left: 3%;">
                    </div>
                </div>

                <!-- 横栏2 -->
                <div style="height: 6rem;border-bottom: 1px dashed #d4dce6;padding-top: 1%;padding-left: 5%;">
                    <div>
                        {if $postInfo.small_top == 1}
                        <button type="button" class="btn btn-primary" onclick="setTop(1,2);" style="float: left;margin-left: 1%;width: 8%;background-color: #6abce2;">设置小吧置顶</button>
                        {elseif $postInfo.small_top == 2}
                        <button type="button" class="btn btn-primary" onclick="setTop(1,1);" style="float: left;margin-left: 1%;width: 8%;">取消小吧置顶</button>
                        {/if}

                        {if $postInfo.big_top == 1}
                        <button type="button" class="btn btn-primary" onclick="setTop(2,2);" style="float: left;margin-left: 1%;width: 8%;background-color: #6abce2;">设置大吧置顶</button>
                        {elseif $postInfo.big_top == 2}
                        <button type="button" class="btn btn-primary" onclick="setTop(2,1);" style="float: left;margin-left: 1%;width: 8%;">取消大吧置顶</button>
                        {/if}

                        <button type="button" class="btn btn-primary" onclick="back();" style="float: left;margin-left: 1%;width: 6%;background-color: #6abce2;">返回</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
<script type="text/javascript">
        var id = '{$id}';
        
        window.onload=function(){
            $('.loading-container').hide();
        }

        function setTop(a,b){
            if (b == 1) {
                if (a == 1) {
                    if(!confirm('确认取消该帖子在小吧内的置顶吗？')){
                        return false;
                    }
                }else{
                    if(!confirm('确认取消该帖子在大吧内的置顶吗？')){
                        return false;
                    }
                }
            }else{
                if (a == 1) {
                    if(!confirm('确认将该帖子在小吧内给予置顶显示吗？')){
                        return false;
                    }
                }else{
                    if(!confirm('确认将该帖子在大吧内给予置顶显示吗？')){
                        return false;
                    }
                }
            }
            $.ajax({
                url:"{:url('Bbs/setTopAjax')}",
                type:"POST",
                dataType:"JSON",
                async:false,
                data:{
                    id:id,
                    top_type:a,
                    type:b,
                },
                success:function(data){
                    alert(data);
                    window.location.reload();
                },
                error:function(data){
                    alert('网络繁忙，请稍后再试');
                },
            });
        }

        function back(){
            window.location.href="{:url('Bbs/postList')}?id="+'{$boardId}';
        }
    </script>
</body>
</html>